<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBltPpfXN8ssOlTcPaHi2i20YvwERy-mbA</string>
	<key>GCM_SENDER_ID</key>
	<string>309396762686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecocare</string>
	<key>PROJECT_ID</key>
	<string>flask-test-a3ccc</string>
	<key>STORAGE_BUCKET</key>
	<string>flask-test-a3ccc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309396762686:ios:608a6893aaf53f13b6216f</string>
	<key>DATABASE_URL</key>
	<string>https://flask-test-a3ccc.firebaseio.com</string>
</dict>
</plist>